<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Alice Phoebe Lou fan page - Home</title>
</head>
<body>
    <nav>
        <div>
            <p id="title">Alice Phoebe Lou's fan page</p>
        </div>
        <div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <article>
            <h1>Welcome to<br><span>Alice Phoebe Lou's</span><br>fan page</h1>
            <p>Browse this page to find Alice's discography, upcoming events, pictures of past concerts and links to her social media platforms.</p>
        </article>
    </main>

    <footer>
        <a href="https://www.instagram.com/alicephoebelou/?hl=de" id="link-instagram" target="_blank" class="footer-link"></a>
        <a href="https://alicephoebelou.bandcamp.com/" id="link-bandcamp" target="_blank" class="footer-link"></a>
        <a href="https://www.youtube.com/channel/UCgYqDQHmeM1ZIt7rYVdflVA" id="link-youtube" target="_blank" class="footer-link"></a>
        <a href="https://open.spotify.com/artist/03uMw43UVu9MsQCcHVSGjX" id="link-spotify" target="_blank" class="footer-link"></a>
    </footer>

    

</body>
</html>