<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Alice Phoebe Lou fan page - Works</title>
</head>
<body>
    <nav>
        <div>
            <p id="title">Alice Phoebe Lou - FAN PAGE</p>
        </div>
        <div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </div>
    </nav>

    <div class="flex-container" id="works-container">

        <div id="shows" class="flex-item">
            <section id="upcoming-shows">
                <h3 class="list-headign">Upcoming shows</h3>
                <ol>
                    <li><span>8th March</span><a href="https://tickets.oztix.com.au/outlet/event/96844747-20c1-4c58-b9a4-e6ce89b8af86">Brightside, Brisbane, Australia</a></li>
                    <li><span>9th March</span><a href="https://moshtix.com.au/v2/event/alice-phoebe-lou/146247">Oxford Art Factory, Sydney, Australia</a></li>
                    <li><span>10th March</span><a href="https://moshtix.com.au/v2/event/alice-phoebe-lou/146385?skin=hwlr">Howler, Melbourne, Australia</a></li>
                    <li><span>11th March</span><a href="https://moshtix.com.au/v2/event/alice-phoebe-lou/147521?skin=brunswickballroom">Brunswick Ballroom, Melbourne, Australia</a></li>
                    <li><span>12th March</span><a href="https://www.panamafestival.com.au/ticketing-1">A Festival called Panama, Tasmania</a></li>
                    <li><span>14th March</span><a href="https://moshtix.co.nz/v2/event/alice-phoebe-lou/146192">Tuning Fork, Auckland, NZ</a></li>
                    <li><span>22nd March</span><a href="https://www-shibuya.jp/schedule/016181.php"></a>WWWX, Tokyo, Japan</a></li>
                    <li><span>10th May</span><a href="https://www.etix.com/ticket/p/4591568/alice-phoebe-lou-philadelphia-music-hall-at-world-cafe-live">Music Hall at World Cafe Live, Philadelphia, U.S.A.</a></li>
                    <li><span>12th May</span><a href="https://www.kilbyblockparty.com/">Kilby Block Party, Salt Lake City, U.S.A.</a></li>
                </ol>
            </section>
        </div>
    
        <div id="discography" class="flex-item">
            <section id="albums">
                <h3 class="list-headign">Albums</h3>
                <ol>
                    <li><span>2016</span>Orbit</li>
                    <li><span>2019</span>Paper Castles</li>
                    <li><span>2021</span>Glow</li>
                    <li><span>2021</span>Child's Play</li>
                </ol>
            </section>
        
            <section id="extended-plays">
                <h3 class="list-headign">Extended plays</h3>
                <ol>
                    <li><span>2014</span>Momentum</li>
                    <li><span>2017</span>Sola</li>
                    <li><span>2019</span>A Place of My Own (Mahogany Sessions)</li>
                </ol>
            </section>
        
            <section id="live-albums">
                <h3 class="list-headign">Live albums</h3>
                <ol>
                    <li><span>2014</span>Live at Grüner Salon</li>
                    <li><span>2020</span>Live at Funkhaus</li>
                </ol>
            </section>
        </div>

    </div>

    <footer>
        <a href="https://www.instagram.com/alicephoebelou/?hl=de" id="link-instagram" target="_blank" class="footer-link"></a>
        <a href="https://alicephoebelou.bandcamp.com/" id="link-bandcamp" target="_blank" class="footer-link"></a>
        <a href="https://www.youtube.com/channel/UCgYqDQHmeM1ZIt7rYVdflVA" id="link-youtube" target="_blank" class="footer-link"></a>
        <a href="https://open.spotify.com/artist/03uMw43UVu9MsQCcHVSGjX" id="link-spotify" target="_blank" class="footer-link"></a>
    </footer>
   
</body>
</html>